<div class="slider">
  <ul>
    <li id="no-js-slider-1" class="slide">
      <%= image_tag 'tack.jpg' %>
      <a class="prev" href="#no-js-slider-3">prev</a>
      <a class="next" href="#no-js-slider-2">next</a>
    </li>
    <li id="no-js-slider-2" class="slide">
      <%= image_tag 'instruct.png' %>
      <a class="prev" href="#no-js-slider-1">prev</a>
      <a class="next" href="#no-js-slider-3">next</a>           
    </li>
    <li id="no-js-slider-3" class="slide">
      <%= image_tag 'signup.jpg' %>
      <a class="prev" href="#no-js-slider-2">prev</a>
      <a class="next" href="#no-js-slider-1">next</a>           
    </li>
  </ul>
</div>
