/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

.left {
    float: left;
}
 
.current-user-name {
  margin: 10px 0 0 0;
  float: left;
  text-align: right;
  margin-right: 10px;
}

.searchbar {
    padding: 10px 0px 0px 0px;
}

.tilt {
  -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
          transition: all 0.3s ease;
   float: left; 
   margin: 0 0 20px 0;
   padding: 0px;
   text-align: center;
   width: 200px;
   height: 200px;
}

.tilt:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
   transform: scale(1.1);
  -webkit-box-shadow: 0 0 40px rgba(255,255,255,.6), inset 0 0 40px rgba(255,255,255,1);
  -moz-box-shadow: 0 0 40px rgba(255,255,255,.6), inset 0 0 40px rgba(255,255,255,1);
   box-shadow: 0 0 40px rgba(255,255,255,.6), inset 0 0 40px rgba(255,255,255,1);
}

figcaption {
   opacity: 0;
  -webkit-transition: opacity 0.7s ease-out;  
     -moz-transition: opacity 0.7s ease-out;  
      -ms-transition: opacity 0.7s ease-out;  
       -o-transition: opacity 0.7s ease-out;  
          transition: opacity 0.7s ease-out;  
}
figure:hover figcaption {
   opacity: 1; 
}


.show {
   float: left; 
   text-align: center;
   width: 200px;
   height: 270px;
}

figure {
    float: left;
    display: inline-block;
    display: inline;
}

.scroll {
    overflow-y: auto;
    height: 220px;
    max-width: 100%;
    white-space:nowrap
}

* {
margin: 0;
padding: 0;
list-style-type:none;
}

.thumb {
	height:140px;
	width:210px;
	top:136px;
	left:12px;
	position:relative;
	background-size:contain;
	box-shadow:-12px 0 0 12px #000;
}
.thumb:last-of-type {
  box-shadow:0 0 0 12px #000;
}
.thumb:after {
  content:attr(title);
  font:normal normal 20pt 'impact';
  position:relative;
}
.thumb:hover {
	-webkit-filter: grayscale(80%);
	-moz-filter: grayscale(80%);
	-ms-filter: grayscale(80%);
	-o-filter: grayscale(80%);
	filter: grayscale(80%);
	filter: url(grayscale.svg#greyscale);
	filter: gray;
}
@-webkit-keyframes TMNT {
	0%  { left: 0px; }
	100% { left: -1200px; }
}
a.prev,a.next {
	height:91px;
	position:absolute;
	width:43px;
	top:50%;
	margin-top:-30px;
	opacity:0.6;
	text-indent:-99999px;
	cursor:pointer;
	-webkit-transition:opacity 200ms ease-out;
}
a.prev:hover,a.next:hover {
	opacity:1;
}
.prev {
	left:0;
	background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -200px 25px;
}
.next {
	right:-90px;
	background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -167px 25px;
}
.slider {
	height:100vh;
	left: -50px;
	position: relative;
}
.slide {
	position:absolute;
	height:100%;
	width:100%;
}
.slider .slide:target {
	z-index: 100;
}
.slider:img {
	max-width:100%;
	width:100%;
	position:fixed;
	left:0;
}